body {
  background: #AFAFAF;
  margin: 0;
  overflow: hidden;
}
#sidebar{
  width: 30%;
  height: 100vh;
  float: left;
  background: #7F7F7F;
}
.item{
  padding: 2%;
  border: 1px solid #BFBFBF;
  text-align: center;
  font-size: 2vw;
}
.itemButton {
  width: 50%;
  font-size: 1.5vw;
}
#kareszContainer{
  text-align: center;
  width: 50%;
  border: 1px solid #FFFFFF;
  top: 50%;
  float: left;
}
#kareszImage{
  width: 20vw;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#kareszCountText{
  font-size: 6vw;
  line-height: 10px;
}
#kareszPerSecText{
  font-size: 4vw;
  line-height: 10px;
}
#saveButton, #loadButton, #resetButton {
  font-size: 3vw;
}
