body {
    background-color: #121212;
    color: limegreen;
    font-family: "Roboto", "sans-serif";
    font-size: 16px;
    font-weight: normal;
    /* just using font property can do the same */
    line-height: 1.6em;
    margin: 0;
}

.container {
    text-align: center;
}
.container h1 {
    font-size: 420%;
}
.container textarea {
    background-color: #0d0d0d;
    color: white;
}

/* #input {
    height: 169px;
    width: 100px;
}
#output {
    height: 300px;
    width: 690px;
} */

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.bottom {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}
